/*
	Jethwa, Mittal
	Class Account #jadrn020
	Project #4
	Fall 2017
*/
body {
	font-family: 'Overlock', cursive;
	font-size: 	16px;
}

.navbar-collapse {
	text-align:center;
}

.navbar-nav {
	display:inline-block;
	float:none;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix + .container {
  padding-top: 70px;
}

.jumbotron {
	font-family: 'Lobster', serif;
	margin-bottom: 0px;
	color: #BFA760;
	background-color: #E9E0C6;
}

.main-container {
	color : black;
	margin-top: 100px;
}

.main-jumbotron {
	font-family: 'Cinzel', serif;
	color: white;
	background: url('../images/theme.jpg');	
	text-shadow: 1px 1px 5px #000000;
	background-size: cover;
	height: 400px;
	width: auto;
}

.quote-jumbotron {
	font-family: 'Satisfy', cursive;
	color: white;
	background: url('../images/quote.jpg');	
	text-shadow: 1px 1px 5px #000000;
	background-size: cover;
	height: 400px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


.navbar-fixed-top {
	border-radius: 4px;
}

#myNavbar {
	padding-left: 15px;
	padding-right : 15px;
}

#nav, #myNavbar {
	background-color : rgba(78, 74, 66, 1);
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color : rgba(78, 74, 66, 1);
}

.nav > li > a:hover {
	color: #FFBF00;
}

.nav > li > a:focus {
	color: inherit;
}

.nav > li.active > a {
	color : #BFA760;
}

.navbar a {
	text-decoration: none;
	color: white;
}

.navbar-brand {
	color : #BFA760;
	font-family: 'Cinzel', serif;
}

a.navbar-brand:focus, a.navbar-brand:hover {
	color: #FFBF00;
}

.glyphicon-shopping-cart {
	font-size: 20px;
}

.badge {
	background-color: #E9E0C6;
	color : #9F7701;
	position:relative;
   	top: -15px;
   	left: -5px;
}

.img-rounded {
	border-radius: 	400px;
}

.title {
	font-family: 'Cinzel', serif;
}

section {
	margin: 30px 0px;
}

hr {
	width: 50%;
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.left-section > p, .right-section > p {
	text-indent: 30px;
	line-height: 1.7;	
}

.left-section, .right-section {
	margin-top: 10px;
	/*width: 50%;*/
	color : #756F63;
}



.section-img {
	width: 400px;
	height: auto;
	margin-left: 50px;
	margin-right: 50px;
}

.section-img-condensed-1, .section-img-condensed-1 {
	width: 200px;
	height: auto;
}

.section-img-condensed-1 {
	margin-left: 5px;
	margin-right: 15px;
}

.section-img-condensed-2 {
	margin-right: 50px;
}

.contact-us, .contact-jumbotron p{
	color : #756F63;
	font-family: "Overlock", cursive;
	font-size: 16px;
}

#contact-us ul {
	list-style-type: none;
}

#floating-cart li {
	list-style-type: none;	
}

.carousel-content-wrapper {
	padding: 10px 200px;
}

.item-details {
    padding: 10px;
}

#myCarousel {
	/*border: 15px solid transparent;*/
	background-color: #E9E0C6; 
	padding: 30px;
	/*border-image: url('../images/carousel-img-border2.png') 70 round;*/
}

.carousel-img {
	border: 20px solid rgba(78, 74, 66, 1);
	margin: 20px 70px;
}

.carousel-inner, .carousel-content-wrapper {
	max-height: 400px !important;
}

.carousel-indicators {
	bottom: 0px;
}

/*.carousel-control.left, .carousel-control.right {
    background-image: none
}
*/

.item-content {
	margin: 10px 0px;
}
.btn-shop {
	background-color: rgba(78, 74, 66, 1);
	color: white;
}

.btn-shop:hover {
	background-color: rgba(157, 135, 92, 1);	
}

.btn-checkout {
    width: 100%;
    font-size: 30px;
    font-family: 'Lobster', serif;
    background-color: rgba(78, 74, 66, 1);
	color: white;
}

.glyphicon-check {
	padding: 0px 10px;
}

.btn-checkout:hover {
	background-color: rgba(157, 135, 92, 1);	
}

.btn-checkout:focus {
	background-color: rgba(78, 74, 66, 1);
	color: white;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(78, 74, 66, 1);
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D;
}

#empty-msg .glyphicon.glyphicon-warning-sign {
  margin-right: 10px;
}